<div class="row">
    <b>Added Slides</b>
</div>
<br>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6"><input type="addCarousel" value="Add Carousel slide +" (click)="addCarousel()" id="btnAS">
    </div>
</div>
<br>
<div>
    <ul class="list-group">
        <li *ngFor="let carousel of lstCarousel">
            <div class="row">
                <div class="col-md-3">
                    {{ carousel.slideCaption }}
                </div>
                <div class="col-md-3">
                    <a style="margin-left: 10%;" (click)="deleteSlide(carousel.imageUrl)" class="delete" title="delete"
                        data-toggle="tooltip">

                        <i class="fa fa-trash" style="font-size:20px;color:red;"></i></a>
                </div>
            </div>
        </li>
    </ul>

</div>
<br>
<div class="row" *ngIf="isAddMode">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Added new slide </h3>
            <hr />
            <div class="card-body">
                <form name="form" #addNewSlide="ngForm" (ngSubmit)="onSubmit(addNewSlide)">

                    <div class="form-group">
                        <label> Image Url</label>
                        <input type="text" name="imageUrl" #imageUrl="ngModel" placeholder="Enter Image Url" ngModel
                            class="form-control" id="imageUrl">

                    </div>

                    <div class="form-group">
                        <label>Slide Caption </label>
                        <input type="text" placeholder="Enter Slide Caption" class="form-control" id="slideCaption"
                            name="slideCaption" ngModel>
                    </div>

                    <br />
                    <input type="submit" value="Add Slide" id="btn">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>