<div class="row">
    <b>Added Slides</b>
</div>
<br>
<div>
    <ul class="list-group">
        <li *ngFor="let carousel of lstCarousel">
            <div class="row">
                <div class="col-md-3">
                    {{ carousel.slideCaption }}
                </div>
                <div class="col-md-3">
                    <a style="margin-left: 10%;" (click)="deleteSlide(carousel.imageUrl)" class="delete" title="delete"
                        data-toggle="tooltip">

                        <i class="fa fa-trash" style="font-size:20px;color:red;"></i></a>
                </div>
            </div>
        </li>
    </ul>

</div>
<br>
<div class="row">
    <div class="card col-md-6">
        <div class="row">
            <h3 class="text-center"> Added new slide </h3>
            <hr />
            <div class="card-body">
                <form name="form" #addNewSlide="ngForm" (ngSubmit)="onSubmit(addNewSlide)">

                    <div class="form-group">
                        <label> Image Url</label>
                        <input type="text" name="imageUrl" placeholder="Enter Image Url" class="form-control"
                            id="imageUrl" required #imageUrl="ngModel" ngModel>
                            <span style="color: red;" class="help-bpx" *ngIf="imageUrl.touched && !imageUrl.valid">
                              Please Enter Image Url.
                            </span>                    

                    </div>

                    <div class="form-group">
                        <label>Slide Caption </label>
                        <input type="text" placeholder="Enter Slide Caption" class="form-control" id="slideCaption"
                            name="slideCaption" required #slideCaption="ngModel" ngModel>
                            <span style="color: red;" class="help-bpx" *ngIf="slideCaption.touched && !slideCaption.valid">
                                Please Enter Slide Caption.
                              </span>  
                    </div>

                    <br />
                    <input type="submit" value="Add Slide" [disabled]="!addNewSlide.valid" id="btn">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>
